*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  padding-top: 110px;
}

/* ======  GENERAL COMPONENTS ========= */
.btn-contact {
  display: block;
  width: 180px;
  height: 40px;
  border: none;
  background-color: #0089BF;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 20px;
}
.btn-contact:hover {
  background-color: white;
  color: #0089BF;
}

.subTitle {
  font-size: 30px;
  font-weight: bold;
  color: #072A40;
}
p {
  color: gray;
}

.iconCheck {
  color: #0089BF;
  font-size: 70px;
}
.check {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.check h2 {
  font-size: 25px;
  font-weight: bold;
  color: #072A40;
}
.check p {
  width: 95%;
}



/* =========== HEADER  =========  */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: grid;
  grid-template-columns: 200px auto;
  height: 80px;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header img {
  width: 100%;
}
.header .navBtns {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1px;
}
.header .navBtns .btn  {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0px;
  line-height: 80px;
  background-color: white;
  height: 80px;
  padding: 0 30px;
  border: none;
}
.header .navBtns .active, 
.header .navBtns :hover  {
  background-color: #0089BF;
  color: white;
}
.nav-mobile-menu {
  display: none;
  border: none;
  background-color: transparent;
  width: fit-content;
  margin-left: auto;
  margin-right: 20px;
  font-size: 30px;
  color: gray;
}
.nav-mobile-menu :hover {
  color: #0089BF;
}
.mobileMenu {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.mobileMenu .mobile-btn {
  display: block;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 10px 20px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
}
.header .mobileMenu .active, 
.header .mobile-btn :hover {
  background-color: #0089BF;
  color: white;
}

.grid-inflatables {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 30px;
  line-height: 30px;
  background-color: #0089BF;
  border-top: 1px solid white;
}
.grid-inflatables .inflatables-btns {
  color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

 
@media screen and (max-width:800px) {
  .header .navBtns, 
  .header .mobileMenu {
      display: none;
    }
    .nav-mobile-menu {
      display: block;
    }
  
}


/* ======== HOME ========= */

.home .container1 {
  background-image: url("/src/images/stock1.png");
  background-color: #cccccc; 
  height: 600px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  width: 98%;
  margin: 10px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.home .container1 h1 {
  font-size: 3em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust the shadow values as needed */
}
.home .container1 h2 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust the shadow values as needed */
}

.home .container3 {
  width: 90%;
  margin: 60px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 600px auto;
  gap: 40px;
  align-items: center;
}
.home .container3 img {
  width: 100%;
}
.home .container4 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  text-align: center;
  justify-content: center !important;
  align-items: center !important;
}
.home .container4 .eventTypes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}
.home .container4 img {
  width: 90%;
  margin: auto;
}
.home .container4 h3 {
  font-size: 25px;
  font-weight: bold;
  color: #072A40;
  margin: 10px;
}
.home .container4 p {
  width: 90%;
  margin: auto;
}


.home .container5 {
  width: 90%;
  margin: 60px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 600px;
  gap: 40px;
  align-items: center;
  text-align: right;
}
.home .container5 img {
  width: 100%;
}
.home .txt-container5 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.home .container6 {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}